---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`Tanarak's DigitalPond. | ${entry.data.title}`} desc={entry.data.desc}>
  <Image
    class="bg-black w-full"
    src={entry.data.headerImg}
    alt="A bird sitting on a nest of eggs."
    width={1000}
    height={400}
  />
  <div class="prose mt-5 !max-w-full">
    <h1 class="!mb-1">{entry.data.title}</h1>
    <div class="flex justify-between">
      <small class="text-gray-400"
        >{entry.data.author} | {entry.data.date}</small
      >
      <!-- AddToAny BEGIN -->
      <div class="a2a_kit a2a_kit_size_20 a2a_default_style">
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_mastodon"></a>
        <a class="a2a_button_linkedin"></a>
        <a class="a2a_button_threads"></a>
        <a class="a2a_button_sms"></a>
        <a class="a2a_button_copy_link"></a>
        <a class="a2a_button_x"></a>
      </div>
    </div>

    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
    <hr class="!m-5" />
    <Content />
  </div>
</Layout>
