---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

const { title, desc } = Astro.props;

const _desc =
  desc ||
  "Explore a programming, development, cooking, lifestyle, IT, and coding. Join us for insightful articles, tutorials, and tips on balancing tech and life.";
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={_desc} />
    <meta name="keywords" content={_desc} />
    <!-- fcebook -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={_desc} />
    <meta property="og:url" content="https://blog.tanabythepond.dev" />
    <meta property="og:site_name" content="Tanabythepond" />
    <meta property="article:section" content="Lifestyle" />
    <meta property="og:image" content="/header.png" />
    <meta property="og:image:secure_url" content="/header.png" />
    <!-- x -->
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={_desc} />
    <meta name="twitter:url" content="https://blog.tanabythepond.dev" />
    <meta name="twitter:site" content="@tanachuns" />
    <meta
      name="twitter:image"
      content="https://blog.tanabythepond.dev/header.png"
    />
    <meta name="twitter:image:alt" content="Header Image" />
  </head>

  <body>
    <Navbar />
    <main class="lg:mx-auto py-5 mx-2 xl:w-[1000px] min-h-[100vh]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
