---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

const desc =
  "Explore a programming, development, cooking, lifestyle, IT, and coding. Join us for insightful articles, tutorials, and tips on balancing tech and life.";
const title = "Tanabythepond | Tanarak's DigitalPond.";
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="E" />
    <meta name="keywords" content={desc} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://blog.tanabythepond.dev" />

    <meta
      property="og:image"
      content="https://img.kelbymediagroup.com/planetphotoshop/uploads/2015/07/flood-demo.jpg"
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
